#
# Build
#

[Bb]uild
cmake-build-debug/

#
# Editor
#

.cache
.vscode
workspace.code-workspace
compile_commands.json
.idea

#
# macOS
#

.DS_Store
._.git

#
# Plugins
#

# Ignore plugin build artifacts
plugins/CMakeCache.txt
plugins/CMakeFiles/
plugins/Makefile
plugins/cmake_install.cmake

# Ignore compiled plugin binaries
plugins/*.so
plugins/*.dylib
plugins/*.dll
plugins/example_gamemode.c
plugins/plugins/example_gamemode.dylib
